<mt:setvar name="edit_author" value="1">
<mt:setvar name="friends" value="1">

<mt:if name="object_type" eq="friend">
    <$mt:setvar name="page_title" value="<__trans phrase="Edit Friend">"$>
    <mt:if name="new_object">
        <$mt:setvar name="page_title" value="<__trans phrase="Create New Friend">"$>
    </mt:if>
    <$mt:setvar name="submit_button_title" value="<__trans phrase="Save this friend (s)">"$>
    <$mt:setvar name="position_actions_bottom" value="true"$>   
</mt:if>

<mt:setvartemplate name="action_buttons">
    <button
        mt:mode="save_friend"
        type="submit"
        accesskey="s"
        title="<mt:var name="submit_button_title">"
        class="primary-button"
        ><__trans phrase="Save Friend"></button>
    <div id="autosave-notification-<$mt:var name="bar_position" default="top"$>" class="autosave-notification"></div>
</mt:setvartemplate>

<mt:setvarblock name="system_msg">
    <div id="msg-block">
      <mt:if name="saved_added">
          <mtapp:statusmsg
              id="saved-added"
              class="success">
              <mt:if name="object_type" eq="friend">
                  <__trans phrase="This friend has been saved.">
              </mt:if>
          </mtapp:statusmsg>
      </mt:if>
      <mt:if name="saved_changes">
          <mtapp:statusmsg
              id="saved-changes"
              class="success">
              <__trans phrase="Your changes have been saved.">
          </mtapp:statusmsg>
      </mt:if>
    </div>
</mt:setvarblock>

<mt:setvarblock name="content_nav">
    <mt:include name="include/users_content_nav.tmpl">
</mt:setvarblock>

<mt:setvarblock name="form_header">
    <form name="friend_form" id="friend_form" method="post" action="<$mt:var name="script_url"$>" mt:once="1" mt:auto-save="1" mt:auto-save-delay="<$mt:var name="autosave_frequency"$>000">
    <mt:if name="new_object">
        <input type="hidden" name="author_id" value="<$mt:var name="author_id"$>" />
    <mt:else>
        <input type="hidden" name="id" value="<$mt:var name="id"$>" />
    </mt:if>
        <input type="hidden" name="__mode" value="save_friend" />
        <input type="hidden" name="_type" value="<$mt:var name="object_type"$>" />
        <input type="hidden" name="return_args" value="<$mt:var name="return_args"$>" />
        <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" id="m_t" />
        <input type="hidden" name="action_name" value="" />
        <input type="hidden" name="itemset_action_input" value="" />
</mt:setvarblock>

<mt:include name="include/header.tmpl" id="header_include">

<fieldset>
<mtapp:setting
     id="name"
     label="<__trans phrase="Name">"
     content_class="field-content-text">
     <div class="textarea-wrapper">
       <input name="name" id="name" class="full-width" value="<mt:var name="name">" />
     </div>
</mtapp:setting>

<mtapp:setting
    id="visible"
    label="<__trans phrase="Published">">
    <input type="checkbox" name="visible" value="1" <mt:if name="visible" ne="0">checked="checked"</mt:if>/>    
</mtapp:setting>

<mt:if name="new_object">
    <h3>Friend's First Link:</h3>
    
    <mtapp:setting
        id="uri"
        label="<__trans phrase="URL">">
        <div class="textarea-wrapper">
            <input type="text" name="uri" rows="3" id="uri" class="full-width" value="<mt:var name="uri">" />
        </div>
    </mtapp:setting>
    
    <mtapp:setting
        id="label"
        label="<__trans phrase="Label">">
        <input type="text" name="label" rows="3" id="label" class="full-width" value="<mt:var name="label">" />
    </mtapp:setting>
<mt:else>
    <div class="inner pkg"><div class="listing" id="uri-listing">
    <p id="create-uri"><a href="javascript:void(0)" 
                    onclick="openDialog(null,'edit_link','&amp;_type=<mt:var name="object_type">&amp;friend_id=<$mt:var name="id"$>&amp;author_id=<$mt:var name="author_id"$>');return false;" class="icon-left icon-create"><__trans phrase="Add Link"></a></p>
    
    <mt:if name="links">
    <table class="compact">
    <mt:loop name="links">
        <mt:if __first__>
          <thead>
            <tr>
              <th>Label</th>
              <th>Link</th>
              <th>View</th>
            </tr>
          </thead>
        </mt:if>
        <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
            <td class="label">
                <a href="javascript:void(0)" 
                    onclick="openDialog(null,'edit_link','&amp;_type=<mt:var name="object_type">&amp;id=<$mt:var name="id"$>&amp;author_id=<$mt:var name="author_id"$>');return false;"><$mt:var name="label"$></a></td>
            <td class="link">
                <a href="javascript:void(0)" 
                    onclick="openDialog(null,'edit_link','&amp;_type=<mt:var name="object_type">&amp;id=<$mt:var name="id"$>&amp;author_id=<$mt:var name="author_id"$>');return false;"><$mt:var name="uri"$></a>
            </td>
            <td class="view si status-view">
                <a href="<mt:var name="uri">" target="<__trans phrase="external_link_target">" title="<__trans phrase="View Site">"><img src="<mt:var name="static_uri">images/spacer.gif" alt="<__trans phrase="View Profile">" width="13" height="9" /></a>
            </td>
        </tr>
    </mt:loop>
    </table>
    <mt:else>
        <__trans phrase="No Links could be found.">
    </mt:if>
    </div></div>
</mt:if>

<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</fieldset>

<mt:setvarblock name="form_footer">
    </form>
</mt:setvarblock>

<mt:include name="include/footer.tmpl" id="footer_include">
    
