<$mt:setvar name="edit_author" value="1"$>
<$mt:setvar name="page_title" value="<__trans phrase="Discover Friends">"$>
<$mt:setvar name="position_actions_bottom" value="true"$> 

<mt:setvarblock name="html_head" append="1">
 	<link rel="stylesheet" type="text/css" href="<mt:var name="static_uri">plugins/ActionStreams/css/action-streams.css" />
 	
 	<style type="text/css">
 	.content-nav #main-content .msg { margin-left: 0px; }
 	#main-content {
 	    padding-top:5px;
 	}
 	
 	<mt:loop name="service_styles">
 	.service-<mt:var name="service_type"> { background-image: url(<mt:var name="service_icon">); }
 	</mt:loop>
 	</style>
 	
 	<script type="text/javascript">
 	</script>
 </mt:setvarblock>

<mt:setvarblock name="object_nav">
    <ul class="object-nav">
        <li><a href="<$mt:var name="script_url"$>?__mode=edit_friend&amp;author_id=<$mt:var name="id"$>"
    	    title="<__trans phrase="Add Friend">"><__trans phrase="Add Friend"></a></li>
    </ul>
</mt:setvarblock>

<mt:setvarblock name="content_nav">
    <mt:include name="include/users_content_nav.tmpl">
</mt:setvarblock>

<mt:setvarblock name="form_header">
    <form name="discover_form" id="discover_form" method="post" action="<$mt:var name="script_url"$>" mt:once="1" mt:auto-save="0">
        <input type="hidden" name="id" value="<$mt:var name="id"$>" />
        <input type="hidden" name="__mode" value="discover_friends" />
        <input type="hidden" name="_type" value="<$mt:var name="object_type"$>" />
        <input type="hidden" name="return_args" value="<$mt:var name="return_args" escape="html"$>" />
        <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" id="m_t" />
        <input type="hidden" name="action_name" value="" />
</mt:setvarblock>

<mt:include name="include/header.tmpl" id="header_include">

<mt:if name="blog_id">
<input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
</mt:if>

<mt:if name="step" eq="start">
    <mtapp:setting
        id="source_uri"
        label="<__trans phrase="Start With URL:">">
        <ul>
	    <mt:loop name="profiles">
	    	<li style="height:20px;"><input type="radio" name="source_uri" class="select" 
	    			value="<$mt:var name="uri" escape="html"$>" />
	    			<span style="display:inline;" class="service-icon service-<$mt:var name="type"$>"><$mt:var name="label" escape="html"$> (<$mt:var name="ident" escape="html"$>)</span></li>
	    </mt:loop>
	    </ul>
	    <input type="radio" name="source_uri" class="select" 
	    			value="other" /> <__trans phrase="Other:">
        <input name="source_uri" id="source_uri" size="40" value="<mt:var name="source_uri">" style="border:1px solid #ccc;" />
    </mtapp:setting>
    <input type="hidden" name="step" value="find" />
    <em>This step may take a while if you have a large number of contacts on the remote site. Please be patient.</em>
</mt:if>

<mt:if name="step" eq="getclaimed">
    <mtapp:setting
        id="uri"
        label="<__trans phrase="Search These URLs for contacts">">
        <mt:loop name="claimed">
            <div><label><input type="checkbox" name="uri" id="uri" value="<$mt:var name="__value__"$>" />
                <$mt:var name="__value__"$></label></div>
        
        </mt:loop>
    </mtapp:setting>
    <input type="hidden" name="step" value="find" />
</mt:if>

<mt:if name="step" eq="find">
    <h3><$mt:var name="source" $></h3>

    <mtapp:listing name="contacts" type="contact" loop="contacts">
      <mt:if __first__>
        <thead>
          <tr>
          	<th>Name</th>
            <th>URI</th>
          </tr>
        </thead>
      </mt:if>
      <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
        <td><input type="checkbox" name="import" value="<$mt:var name="uri" $>" id="import">
            <mt:if name="name"><$mt:var name="name" escape="html"$>
            <mt:elseif name="title"><$mt:var name="title"$>
            <mt:else><$mt:var name="uri$>
            </mt:if>
        </td>
        <td class="uri"><a href="<$mt:var name="uri" escape="html"$>"><$mt:var name="uri" escape="html"$></a>
        </td>
      </tr>
    </mtapp:listing>
</mt:if>
<mt:if name="step" eq="import">
    
</mt:if>

<mt:setvartemplate name="action_buttons">
    <button
        mt:mode="discover_friends"
        type="submit"
        accesskey="s"
        title="<mt:var name="Next">"
        class="primary-button"
        ><__trans phrase="Next"></button>
</mt:setvartemplate>

<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1">
     
<mt:setvarblock name="form_footer">
    </form>
</mt:setvarblock>


<mt:include name="include/footer.tmpl" id="footer_include">