<!-- rel editor -->
<mtapp:setting
     id="rel"
     label="<__trans phrase="Relationship">">
     <div class="textarea-wrapper">
       <input name="rel" id="rel" class="full-width" value="<mt:var name="rel">" />
         
     </div>
     <div>
       <table cellspacing="5" cellpadding="3">
        	<tr>
        		<th scope="row"> identity </th>
        		<td>
        			<label for="me">
        			<input type="checkbox" <mt:if name="rel" like="^me$">checked="checked"</mt:if> id="me" value="me" name="identity"/>
        			another web address of mine</label>
        		</td>
        	</tr>
        	<tr>
        		<th scope="row"> friendship </th>
        		<td>
        			<label for="contact">
        			<input <mt:if name="rel" like="contact">checked="checked"</mt:if> type="radio" id="contact" value="contact" name="friendship" class="valinp"/> contact</label>
        			<label for="acquaintance">
        			<input <mt:if name="rel" like="acquaintance">checked="checked"</mt:if> type="radio" id="acquaintance" value="acquaintance" name="friendship" class="valinp"/>  acquaintance</label>
        			<label for="friend">
        			<input <mt:if name="rel" like="friend">checked="checked"</mt:if> type="radio" id="friend" value="friend" name="friendship" class="valinp"/> friend</label>
        			<label for="friendship">
        			<input <mt:if name="rel" eq="">checked="checked"</mt:if> type="radio" id="friendship" value="" class="valinp" name="friendship"/> none</label>
        		</td>
        	</tr>
        	<tr>
        		<th scope="row"> physical </th>
        		<td>
        			<label for="met">
        			<input <mt:if name="rel" like="met">checked="checked"</mt:if> type="checkbox" id="met" value="met" name="physical" class="valinp"/>
        			met</label>
        		</td>
        	</tr>
        	<tr>
        		<th scope="row"> professional </th>
        		<td>
        			<label for="co-worker">
        			<input <mt:if name="rel" like="co-worker">checked="checked"</mt:if> type="checkbox" id="co-worker" value="co-worker" name="professional" class="valinp"/>
        			co-worker</label>
        			<label for="colleague">
        			<input <mt:if name="rel" like="colleague">checked="checked"</mt:if> type="checkbox" id="colleague" value="colleague" name="professional" class="valinp"/>
        			colleague</label>
        		</td>
        	</tr>
        	<tr>
        		<th scope="row"> geographical </th>
        		<td>
        			<label for="co-resident">
        			<input <mt:if name="rel" like="co-resident">checked="checked"</mt:if> type="radio" id="co-resident" value="co-resident" name="geographical" class="valinp"/>
        			co-resident</label>
        			<label for="neighbor">
        			<input <mt:if name="rel" like="neighbor">checked="checked"</mt:if> type="radio" id="neighbor" value="neighbor" name="geographical" class="valinp"/>
        			neighbor</label>
        			<label for="geographical">
        			<input <mt:unless name="rel" like="co-resident|neighbor">checked="checked"</mt:unless> type="radio" id="geographical" value="" name="geographical" class="valinp"/>
        			none</label>
        		</td>
        	</tr>
        	<tr>
        		<th scope="row"> family </th>
        		<td>
        			<label for="child">
        			<input <mt:if name="rel" like="child">checked="checked"</mt:if> type="radio" id="child" value="child" name="family" class="valinp"/>
        			child</label>
        			<label for="kin">
        			<input <mt:if name="rel" like="kin">checked="checked"</mt:if> type="radio" id="kin" value="kin" name="family" class="valinp"/>
        			kin</label>
        			<label for="parent">
        			<input <mt:if name="rel" like="parent">checked="checked"</mt:if> type="radio" id="parent" value="parent" name="family" class="valinp"/>
        			parent</label>
        			<label for="sibling">
        			<input <mt:if name="rel" like="sibling">checked="checked"</mt:if> type="radio" id="sibling" value="sibling" name="family" class="valinp"/>
        			sibling</label>
        			<label for="spouse">
        			<input <mt:if name="rel" like="spouse">checked="checked"</mt:if> type="radio" id="spouse" value="spouse" name="family" class="valinp"/>
        			spouse</label>
        			<label for="family">
        			<input <mt:unless name="rel" like="child|kin|sibling|parent|spouse">checked=checked</mt:unless> type="radio" id="family" value="" name="family" class="valinp"/>
        			none</label>
        		</td>
        	</tr>
        	<tr>
        		<th scope="row"> romantic </th>
        		<td>
        			<label for="muse">
        			<input <mt:if name="rel" like="muse">checked="checked"</mt:if>  type="checkbox" id="muse" value="muse" name="romantic" class="valinp"/>
        			muse</label>
        			<label for="crush">
        			<input <mt:if name="rel" like="crush">checked="checked"</mt:if>  type="checkbox" id="crush" value="crush" name="romantic" class="valinp"/>
        			crush</label>
        			<label for="date">
        			<input <mt:if name="rel" like="date">checked="checked"</mt:if>  type="checkbox" id="date" value="date" name="romantic" class="valinp"/>
        			date</label>
        			<label for="romantic">
        			<input <mt:if name="rel" like="sweetheart">checked="checked"</mt:if>  type="checkbox" id="romantic" value="sweetheart" name="romantic" class="valinp"/>
        			sweetheart</label>
        		</td>
        	</tr>
        </table>
     </div>
</mtapp:setting>
