.service-yelp { background-image: url("images/yelp.png"); }
.service-brightkite { background-image: url("images/brightkite.png"); }
.service-dopplr { background-image: url("images/dopplr.png"); }
.service-ebay { background-image: url("images/ebay.png"); }
.service-getsatisfaction { background-image: url("images/getsatisfaction.png"); }
