<mtapp:setting
    id="friends_google_jsapi_key"
    label="<__trans phrase="Google AJAX API Key">"
    hint="<__trans phrase="The AJAX API Key from Google.">"
    show_hint="1">
    <label><input type="text" name="friends_google_jsapi_key" id="friends_google_jsapi_key" value="<mt:var name="friends_google_jsapi_key" />" /></label>
    <br/>
    <a target="_new" href="http://code.google.com/apis/ajaxfeeds/signup.html">Get a Google AJAX API key</a>.
</mtapp:setting>
