<mt:if name="new_object">
    <mt:setvar name="edit_author" value="1">
</mt:if>
<mt:setvar name="friends" value="1">
<mt:setvarblock name="html_head" append="1">
    <style type="text/css">
    .actions-bar-top {
        padding-bottom: 0;
    }
    </style>
</mt:setvarblock>

<mt:if name="object_type" eq="friend">
    <$mt:setvar name="page_title" value="<__trans phrase="Edit Contact">"$>
    <mt:if name="new_object">
        <$mt:setvar name="page_title" value="<__trans phrase="Create New Contact">"$>
    </mt:if>
    <$mt:setvar name="submit_button_title" value="<__trans phrase="Save this contact (s)">"$>
    <$mt:setvar name="position_actions_bottom" value="true"$>  
</mt:if>

<mt:setvartemplate name="action_buttons">
    <button
        mt:mode="save_friend"
        type="submit"
        accesskey="s"
        title="<mt:var name="submit_button_title">"
        class="primary-button"
        ><__trans phrase="Save Contact"></button>
    <button
        onclick="closeDialog(); return false"
        type="submit"
        accesskey="x"
        title="<__trans phrase="Cancel (x)">"
        ><__trans phrase="Cancel"></button>
    <div id="autosave-notification-<$mt:var name="bar_position" default="top"$>" class="autosave-notification"></div>
</mt:setvartemplate>

<mt:setvarblock name="system_msg">
    <div id="msg-block">
      <mt:if name="saved_added">
          <mtapp:statusmsg
              id="saved-added"
              class="success">
              <mt:if name="object_type" eq="friend">
                  <__trans phrase="This contact has been saved.">
              </mt:if>
          </mtapp:statusmsg>
      </mt:if>
      <mt:if name="saved_changes">
          <mtapp:statusmsg
              id="saved-changes"
              class="success">
              <__trans phrase="Your changes have been saved.">
          </mtapp:statusmsg>
      </mt:if>
    </div>
</mt:setvarblock>

<mt:include name="dialog/header.tmpl" id="header_include">

<form name="friend_form" id="frend_form" target="_top" method="post" action="<$mt:var name="script_url"$>" mt:once="1" mt:auto-save="1" mt:auto-save-delay="<$mt:var name="autosave_frequency"$>000">
    <mt:if name="new_object">
        <input type="hidden" name="author_id" value="<$mt:var name="id"$>" />
    <mt:else>
        <input type="hidden" name="id" value="<$mt:var name="friend_id"$>" />
    </mt:if>
        <input type="hidden" name="__mode" value="save_friend" />
        <input type="hidden" name="_type" value="<$mt:var name="object_type"$>" />
        <input type="hidden" name="return_args" value="<$mt:var name="return_args"$>" />
        <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" id="m_t" />
        <input type="hidden" name="action_name" value="" />
        <input type="hidden" name="itemset_action_input" value="" />


<mtapp:setting
         id="name"
         label="<__trans phrase="Name">"
         content_class="field-content-text">
         <input name="name" id="name" size="30" value="<mt:var name="name">" />
</mtapp:setting>
<mtapp:setting
        id="visible"
        label="<__trans phrase="List In Blogroll">">
        <input type="checkbox" name="visible" value="1" <mt:if name="visible" ne="0">checked="checked"</mt:if>/>    
</mtapp:setting>

<mt:if name="new_object">
<fieldset>
    <$mt:var name="listing_header"$>
    <h3>First Profile</h3>
    <mtapp:setting
        id="uri"
        label="<__trans phrase="URL">">
        <input type="text" name="uri" id="uri" size="50" value="<mt:var name="uri">" />
    </mtapp:setting>
    <mtapp:setting
        id="label"
        label="<__trans phrase="Label">">
        <input type="text" name="label" size="50" id="label" value="<mt:var name="label">" />
    </mtapp:setting>
</fieldset>    
</mt:if>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="0">

</form>
<mt:include name="dialog/footer.tmpl" id="footer_include">