<mt:setvar name="edit_author" value="1">
<mt:setvar name="page_title" value="<__trans phrase="Import Contacts">">
<mt:setvar name="discover_friends" value="1">
<mt:setvar name="submitbutton" value="Import">

<mt:var name="position_actions_top" value="1">

<mt:setvarblock name="system_msg">
    <div id="msg-block">
    </div>
</mt:setvarblock>

<input type="hidden" name="step" value="import" />

<mt:setvarblock name="action_buttons">
    <a href="javascript:void(0)"
        onclick="doForMarkedInThisWindow(getByID('contact-listing-form'), '<__trans phrase="contact">', '<__trans phrase="contacts">', 'id', 'itemset_import_contacts'); return false" accesskey="i"
        title="<__trans phrase="Import selected friends (i)">"
        ><__trans phrase="Import Selected"></a>
</mt:setvarblock>

<mtapp:listing type="contact" loop="contacts" empty_message="No contacts could be found at <mt:var name="source">">
    <mt:if __first__>
    <thead>
        <tr>
            <th class="cb"><input type="checkbox" id="select-all-checkbox" name="id-head" value="all" class="select" /></th>
            <th>Name</th>
            <th>Link</th>
        </tr>
    </thead>
    </mt:if>
        <tr id="row<mt:var name="__counter__">" class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
            <td>
                <input id="cb<$mt:var name="__counter__"$>" type="checkbox" name="id" value="<mt:if name="name"><$mt:var name="name"$><mt:elseif name="title"><$mt:var name="title"$><mt:else><$mt:var name="uri"$></mt:if>|<$mt:var name="uri" $>" <mt:if name="duplicate"><mt:ifEmpty name="other_profiles">disabled="disabled"</mt:ifEmpty></mt:if> />
            </td>
            <td>
        <mt:if name="name"><mt:var name="name">
                <mt:elseif name="title"><mt:var name="title">
                <mt:else><mt:var name="uri">
        </mt:if>
            </td>
            <td class="uri">
                <mt:if name="other_profiles">
            	<mt:if name="duplicate">
    		        <mt:setvarblock name="dupuriId">dupuri<mt:var name="__counter__"></mt:setvarblock>
    	            <input type="hidden" id="<mt:var name="dupuriId">" value="<mt:var name="dupuri">" />
    	        </mt:if>
    	        <select id="select<mt:var name="__counter__">" onchange="changeState(this, <mt:var name="__counter__">)">
    		        <option value="<$mt:var name="uri"$>"><mt:var name="uri"></option>
    	<mt:loop name="other_profiles">
    		<option><a href="<mt:var name="__value__">"><mt:var name="__value__"></li>
    	</mt:loop>
    	</select>
    	<script type="text/javascript">
    	    changeState(document.getElementById("select<mt:var name="__counter__">"),<mt:var name="__counter__">);
    	</script>
    	<mt:else>
    	<a href="<mt:var name="uri">"><mt:var name="uri"></a>
    	</mt:if>
    </td>
  </tr>
</mtapp:listing>
