<mtapp:setting
    id="uri"
    label="<__trans phrase="Search These URLs for contacts">">
    <mt:loop name="claimed">
        <div><label><input type="checkbox" name="uri" id="uri" value="<$mt:var name="__value__"$>" />
            <$mt:var name="__value__"$></label></div>
    
    </mt:loop>
</mtapp:setting>