<mt:setvar name="edit_author" value="1"/>
<mt:setvar name="page_title" value="<__trans phrase="Edit Friend">">
     
<mt:setvarblock name="system_msg">
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success">
            <__trans phrase="You have added [_1] to this friend's urls." params="<strong><$mt:var name="saved"$></strong>">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="saved_deleted">
        <mtapp:statusmsg
            id="saved-deleted"
            class="success">
            <__trans phrase="You have successfully deleted the selected URLs from this friend's urls.">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:setvarblock name="related_content">
    <mt:if name="uri_count">
        <mtapp:widget
            id="useful-links"
            label="<__trans phrase="Useful links">">
            
        </mtapp:widget>
    </mt:if>
    <$mtapp:PageActions$>
</mt:setvarblock>

<mt:setvarblock name="html_body_footer">
    <$mt:include name="include/display_options.tmpl"$>
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
    <script type="text/javascript" src="<mt:var name="static_uri">js/tc/client.js"></script>

    <script type="text/javascript">
    <!--
    var current_edit = 0;
    var old_uri_description = '';
    var old_uri_uri = '';
    function highlight_uri(id) {
        if (current_edit) return;
        var uri_link = getByID('note-link-' + id);
        if (!uri_link) return;
        uri_link.style.backgroundColor = '#FFC';
        uri_link.style.borderColor = '#FFC';
    }

    function unhighlight_uri(id) {
        var uri_link = getByID('note-link-' + id);
        if (!uri_link) return;
        uri_link.style.backgroundColor = 'transparent';
        uri_link.style.borderColor = '#3F658C';
    }

    function edit_uri(id) {
        if (current_edit) return;
        var uri_links = new Array();
        uri_links.push(getByID('uri-desc-link-' + id));
        uri_links.push(getByID('uri-uri-link-' + id));
        var uri_fields = new Array();
        uri_fields.push(getByID('uri-desc-field-' + id));
        uri_fields.push(getByID('uri-uri-field-' + id));
        var uri_description = getByID('uri-desc-' + id);
        var uri_uri = getByID('uri-uri-' + id);
        if (!uri_links.length || !uri_fields.length || !uri_description) return;
        current_edit = id;
        old_uri_description = uri_description.value;
        old_uri_uri = uri_uri.value;
        for (i=0;i<2;++i) {
            uri_links[i].style.display = 'none';
            uri_fields[i].style.display = 'inline';
        }
        uri_description.focus();
        uri_description.select();
        unhighlight_uri(id);
        return false;
    }

    function cancel_edit(id) {
        var uri_links = new Array();
        uri_links.push(getByID('uri-desc-link-' + id));
        uri_links.push(getByID('uri-uri-link-' + id));
        var uri_fields = new Array();
        uri_fields.push(getByID('uri-desc-field-' + id));
        uri_fields.push(getByID('uri-uri-field-' + id));
        var uri_description = getByID('uri-desc-' + id);
        var uri_uri = getByID('uri-uri-' + id);
        if (!uri_links.length || !uri_fields.length || !uri_description) return;
        uri_description.value = old_uri_description;
        old_uri_description = '';
        uri_uri.value = old_uri_uri;
        old_uri_uri = '';
        current_edit = 0;
        for (i=0;i<2;++i) {
            uri_links[i].style.display = 'inline';
            uri_fields[i].style.display = 'none';
        }
        return false;
    }

    function submit_edit(id) {
        if ((0 != current_edit) && (id != current_edit))
            id = current_edit;
        // if old name matches new name, ignore submission (same as cancel)
        // if new name is already in our noteList array, warn user
        // if not in noteList and not in range of noteList notes, check with server.
        var uri_form = getByID('create-inline-uri-form');
        var uri_description = getByID('uri-desc-' + id);
        var uri_uri = getByID('uri-uri-' + id);
        if (!uri_form || !uri_description || !uri_uri) return false;
        var new_uri_description = uri_description.value;
        var new_uri_uri = uri_uri.value;
        if ((old_uri_description == new_uri_description) && (old_uri_uri == new_uri_uri)) {
            cancel_edit(id);
            return false;
        }
        return submit_edit_form(id);
    }

    function submit_edit_form(id) {
        var uri_form = getByID('create-inline-uri-form');
        var uri_description = getByID('uri-desc-' + id);
        var uri_uri = getByID('uri-uri-' + id);
        if (!uri_form || !uri_description) return false;
        uri_form['id'].value = id;
        uri_form['description'].value = uri_description.value;
        uri_form['uri'].value = uri_uri.value;
        uri_form.submit();
        return false;
    }

    function setCreateMode () {
        getByID('name').value = '';
        getByID('uri').value = '';
        getByID('create-inline-uri').style.display = 'block';
        getByID('create-uri').style.display = 'none';
        var el = getByID('saved-msg');
        if (el) el.style.display = 'none';
        var el = getByID('saved-deleted-msg');
        if (el) el.style.display = 'none';
        getByID('name').focus();
    }

    function cancelCreateMode () {
    	getByID('create-inline-uri').style.display = 'none';
        getByID('create-uri').style.display = 'block';
    }

    var tableSelect;
    function init()
    {
    	// setup
    	tableSelect = new TC.TableSelect( "uri-listing-table" );
    }

    TC.attachLoadEvent( init );
    //-->
    </script>
</mt:setvarblock>

<mt:setvarblock name="content_nav">
    <mt:include name="include/users_content_nav.tmpl">
</mt:setvarblock>

<mt:setvarblock name="action_buttons">
<a href="javascript:void(0)"
    onclick="doRemoveItems(getByID('<$mt:var name="object_type"$>-listing-form'), '<__trans phrase="URI" escape="js">', '<__trans phrase="URIs" escape="js">'); return false;"
    accesskey="x"
    title="<__trans phrase="Delete selected [_1] (x)" params="<$mt:var name="object_label_plural"$>">"
    ><__trans phrase="Delete"></a>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<form name="friend_form" id="friend_form" method="post" action="<$mt:var name="script_url"$>" mt:once="1" mt:auto-save="1" mt:auto-save-delay="<$mt:var name="autosave_frequency"$>000">
<mt:if name="new_object">
    <input type="hidden" name="author_id" value="<$mt:var name="author_id"$>" />
<mt:else>
    <input type="hidden" name="id" value="<$mt:var name="id"$>" />
</mt:if>
    <input type="hidden" name="__mode" value="save_friend" />
    <input type="hidden" name="_type" value="<$mt:var name="object_type"$>" />
    <input type="hidden" name="return_args" value="<$mt:var name="return_args"$>" />
    <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" id="m_t" />
    <input type="hidden" name="action_name" value="" />
    <input type="hidden" name="itemset_action_input" value="" />
    
    <mtapp:setting
         id="name"
         label="<__trans phrase="Name">">
         <div class="textarea-wrapper">
           <input name="name" id="name" class="full-width" value="<mt:var name="name">" />
         </div>
    </mtapp:setting>

    <mtapp:setting
        id="notes"
        label="<__trans phrase="Personal Notes">">
        <textarea name="notes" rows="3" id="notes" class="full-width" value="<mt:var name="notes">"></textarea>
    </mtapp:setting>
</form>

<p id="create-uri"><a href="javascript:void(0)" onclick="setCreateMode()" class="icon-left icon-create"><__trans phrase="Create URI"></a></p>

<div class="create-inline" id="create-inline-uri" style="display:none;">
    <form method="post" action="<mt:var name="script_url">" id="create-inline-uri-form">
        <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
        <input type="hidden" name="__mode" value="save_uri" />
        <input type="hidden" name="_type" value="uri" />
        <input type="hidden" name="return_args" value="<mt:var name="return_args">" />
        <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
        <input type="hidden" name="id" value="" />
        <input type="hidden" name="friend_id" value="<mt:var name="friend_id">" />
        <mtapp:setting
            id="description"
            label="<__trans phrase="Label">"
            label_class="inline"
            hint=""
            show_hint="0">
            <input name="description" id="description" value="<mt:var name="description">" />
        </mtapp:setting>
        <mtapp:setting
            id="uri"
            label="<__trans phrase="Website URL">"
            label_class="inline"
            hint=""
            show_hint="0">
            <input name="uri" id="uri" value="<mt:var name="uri">">
        </mtapp:setting>
        <mtapp:setting
            id="actions"
            label="<__trans phrase="Actions">"
            label_class="inline field-no-header"
            hint=""
            show_hint="0">
            <span class="buttons">
                <a href="javascript:void(0)" mt:command="submit"
                    ><__trans phrase="Add URI"></a>
                <a href="javascript:void(0)"
                    onclick="cancelCreateMode(); return false"
                    ><__trans phrase="Cancel"></a>
            </span>
        </mtapp:setting>
    </form>
</div>

<mtapp:listing>
    <mt:if name="__first__">
    <thead>
        <tr>
            <th class="cb" id="delete-col-head"><input type="checkbox" name="id-head" value="all" class="select" /></th>
            <th id="uri-desc"><__trans phrase="Description"></th>
            <th id="uri-uri"><__trans phrase="URL"></th>
            <th id="uri-view"><__trans phrase="View"></th>
        </tr>
    </thead>
    <tbody>
    </mt:if>
        <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
            <td class="cb" id="delete-<mt:var name="id">"><input type="checkbox" name="id" value="<mt:var name="id">" class="select" /></td>
            <td>
                <a id="uri-desc-link-<mt:var name="id">" onmouseover="highlight_uri(<mt:var name="id">)" onmouseout="unhighlight_uri(<mt:var name="id">)" onclick="edit_uri(<mt:var name="id">); return false;" href="javascript:void(0)" title="<__trans phrase="Click to edit URL description">"><mt:var name="description"></a>
                <span id="uri-desc-field-<mt:var name="id">" style="display: none">
                    <input type="text" name="uri-desc-<mt:var name="id">" id="uri-desc-<mt:var name="id">" value="<mt:var name="description">" />
                    
                </span>
            </td>
            <td><a href="javascript:void(0)" title="<__trans phrase="Click to edit address">" class="edit-uri" id="uri-uri-link-<mt:var name="id">" onmouseover="highlight_uri(<mt:var name="id">)" onmouseout="unhighlight_uri(<mt:var name="id">)" onclick="edit_uri(<mt:var name="id">); return false;"><mt:var name="uri"></a>
                <span id="uri-uri-field-<mt:var name="id">" style="display: none">
                    <input type="text" name="uri-uri-<mt:var name="id">" id="uri-uri-<mt:var name="id">" value="<mt:var name="uri">" />
                    <span class="buttons">
                        <a href="javascript:void(0)"
                            onclick="submit_edit(<mt:var name="id">); return false;"
                            title="<__trans phrase="Save changes">"
                            ><__trans phrase="Save"></a>
                        <a href="javascript:void(0)"
                            onclick="cancel_edit(<mt:var name="id">); return false;"
                            ><__trans phrase="Cancel"></a>
                    </span>
                </span>
            </td>
            <td class="view si status-view">
                <a href="<mt:var name="uri">" target="<__trans phrase="external_link_target">" title="<__trans phrase="View Site">"><img src="<mt:var name="static_uri">images/spacer.gif" alt="<__trans phrase="View Profile">" width="13" height="9" /></a>
            </td>
        </tr>
    <mt:if name="__last__">
    </tbody>
    </mt:if>
</mtapp:listing>
<mt:include name="include/footer.tmpl">
